{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Fagungis test project" %}</h1>
    <p>
        {% blocktrans %}
        <b>django-fagungis</b> allow you to easy setup and deploy your django
        project on your linux server. django-fagungis will install and
        configure for you:
        * nginx
        * gunicorn
        * supervisor
        * virtualenv
        {% endblocktrans %}
    </p>

    <p><a href="https://bitbucket.org/DNX/django-fagungis" class="btn primary large">{% trans "Learn more &raquo;" %}</a></p>
{% endblock %}
